In [1]:
#import modules
import os
import csv
import pandas as pd
import numpy as np

In [2]:
# Make a reference to the purchase_data.csv file path
csv_path = "HeroesofPymoli/Resources/purchase_data.csv"

# Import the purchase_data.csv file as a DataFrame
purchase_df = pd.read_csv(csv_path, encoding="utf-8")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_df.shape
purchase_df.info()#Index, Datatype and Memory information
purchase_df.describe()# | Summary statistics for numerical columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
# Rename the headers to be more explanatory
purchase_df = purchase_df.rename(columns={"SN": "Player Name"})
purchase_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
#Purchase analysis (by gender)
    #Run basic calculations to obtain 
        #purchase count, 
        #avg. purchase price, 
        #avg. purchase total per person etc. by gender
    
    #Create a summary data frame to hold the results
    #Optional: give the displayed data cleaner formatting
    #Display the summary data frame

gender_group = purchase_df.groupby(["Gender"])

purchase_cnt = gender_group["Item ID"].count()
purchase_sum = gender_group["Price"].sum()
avg_purchase_price = purchase_sum/purchase_cnt

player_cnt = gender_group["Player Name"].count()
avg_purchase_person = purchase_sum/player_cnt

gender_group.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [18]:
#create a summary table
purchase_gender_summary_table = pd.DataFrame({"Purchase Count": purchase_cnt,
                                            "Average Purchase Price": avg_purchase_price,
                                            "Total Purchase Value": purchase_sum,
                                            "Total Avg Purchase per Person": avg_purchase_person})
                                            
                                            #["{0:.2f}%.format"]})
purchase_gender_summary_table.info()
purchase_gender_summary_table.head()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Female to Other / Non-Disclosed
Data columns (total 4 columns):
Purchase Count                   3 non-null int64
Average Purchase Price           3 non-null float64
Total Purchase Value             3 non-null float64
Total Avg Purchase per Person    3 non-null float64
dtypes: float64(3), int64(1)
memory usage: 120.0+ bytes

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Avg Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000