In [1]:
#import modules
import os
import csv
import pandas as pd
import numpy as np

In [2]:
# Make a reference to the purchase_data.csv file path
csv_path = "HeroesofPymoli/Resources/purchase_data.csv"

# Import the purchase_data.csv file as a DataFrame
purchase_df = pd.read_csv(csv_path, encoding="utf-8")
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_df.shape
purchase_df.info()#Index, Datatype and Memory information
purchase_df.describe()# | Summary statistics for numerical columns
#purchase_df s.value_counts(dropna=False)# | View unique values and counts
#purchase_df.apply(pd.Series.value_counts) # | Unique values and counts for all columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
# Rename the headers to be more explanatory
purchase_df = purchase_df.rename(columns={"SN": "Player Name"})
purchase_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
# Calculate the number of unique players in the DataFrame
player_count = len(purchase_df["Player Name"].unique())

print ("Total Players")
player_count

Total Players

576

In [6]:
player_df = purchase_df.drop_duplicates(subset = "Player Name", keep = 'first')
player_df.describe()

       Purchase ID         Age     Item ID       Price
count   576.000000  576.000000  576.000000  576.000000
mean    350.331597   22.741319   92.951389    3.070573
std     222.226127    6.838568   53.992763    1.164585
min       0.000000    7.000000    0.000000    1.000000
25%     158.750000   19.000000   46.000000    1.980000
50%     336.500000   22.000000   93.000000    3.160000
75%     529.250000   25.000000  142.250000    4.102500
max     778.000000   45.000000  183.000000    4.990000

In [7]:
#Gender Demographics
    #Percent and Count of Male Players
    #Percent and Count of Female Players
    #Percent and Count of Other/Non-disclosed Players
    
#create gender variables, using the player_df data frame
gender_count = player_df["Gender"].value_counts()
total_count = gender_count.sum()
total_count
player_pct = gender_count/total_count
#create summary table
gender_summary_table = pd.DataFrame({"Total Count": gender_count,
                                    "Pct of Players": player_pct})#["{0:.2f}%.format"]})
gender_summary_table.head()

                       Total Count  Pct of Players
Male                           484        0.840278
Female                          81        0.140625
Other / Non-Disclosed           11        0.019097

In [8]:
#calculate the number of unique items
items_unique = len(purchase_df["Item ID"].unique())

#calculate the average purchase price
purchase_avg = purchase_df["Price"].mean()

#calculate the total number of purchases
purchase_count = purchase_df["Purchase ID"].count()

#calculate total revenue
total_rev = purchase_df["Price"].sum()

#creat summary table, must pass an index at end
purchase_summary_table = pd.DataFrame({"Number of Unique Items": items_unique,
                                      "Average Price": purchase_avg,
                                      "Total Purchases": purchase_count,
                                      "Total Revenue": total_rev}, index=[0])

purchase_summary_table.head()

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     183       3.050987              780        2379.77

In [9]:
#purchase_df.shape()
purchase_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [22]:
#Purchase analysis (by gender)
    #Run basic calculations to obtain 
        #purchase count, 
        #avg. purchase price, 
        #avg. purchase total per person etc. by gender
    
    #Create a summary data frame to hold the results
    #Optional: give the displayed data cleaner formatting
    #Display the summary data frame

#group by gender
purchase_gender_df = purchase_df.groupby(["Gender"]).agg(np.sum)
#purchase_gender_df.head()

no_of_purchases_total = purchase_df.groupby(["Gender"]).agg({"Player Name": ['count']})
no_of_purchases_total

avg_purchase_price = purchase_df.groupby(["Gender"]).agg({"Price": ['mean']})
avg_purchase_price

total_purchase_value = purchase_df.groupby(["Gender"]).agg({"Price": ['sum']})
total_purchase_value

avg_purchase_person = purchase_df.groupby(["Gender", "Player Name"]).agg({"Price": ['mean']})
avg_purchase_person = avg_purchase_person.groupby(["Gender"]).mean()
avg_purchase_person

#create summary table
purchase_gender_summary_table = pd.DataFrame({"Purchase Count": no_of_purchases_total,
                                            "Average Purchase Price": avg_purchase_price,
                                            "Total Purchase Value": total_purchase_value,
                                            "Total Avg Purchase per Person": avg_purchase_person})#["{0:.2f}%.format"]})
purchase_summary_table.head(10)

ValueError: If using all scalar values, you must pass an index

In [44]:
purchase_gender1_df = purchase_df.groupby(["Gender"]).agg({"Player Name": ['count']},
                                                      {"Price": [np.mean]},{"Price": [np.sum]})
purchase_gender1_df.head()

TypeError: 'tuple' object is not callable

In [27]:
#create purchase variables, using the player_df data frame
#calculate total purchases by gender
#purchase_count = purchase_df.groupby(["Gender"]).count()

#calculate the average purchase price
purchase_avg = purchase_df.groupby(["Gender"])["Price"].mean()

#calculate the total purchase value
#purchase_total = purchase_gender_df["Price"].sum()

#calculate the avg. purchase total per person by gender
#purchase_avg_person = purchase_total/purchase_count


#create summary table
purchase_summary_table = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Purchase Average": purchase_avg,
                                    "Total Purchase Value": purchase_total,
                                      "Total Avg Purchase per Person": purchase_avg_person})#["{0:.2f}%.format"]})
purchase_summary_table.head(10)

ValueError: Shape of passed values is (6, 4), indices imply (3, 4)